<div class="card">
  <div class="card-header card-header-success">
    <h3 class="card-title">Quyền mới</h3>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <%= roles_new_page(@role) %>
  </div>
</div>